<!doctype html>
<html>
  <head>
    <title> euphobia </title>
    <meta charset='utf-8'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>

  <body>
    <div id='container'>
      <div id='header'>
        p a n e l k a
      </div>

      <div id='transmitter'>
      </div>
    </div>
    <script type='text/javascript' src="{{ url_for('static', filename='panelka.js') }}"> </script>
  </body>
</html>
