<!doctype html>
<html>
  <head>
    <title> euphobia </title>
    <meta charset='utf-8'>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div id='container'>
      <div id='header'>
        e u p h o b i a
      </div>

      <div id='transmitter'>
        <form id='playlist'>
        </form>
      </div>
    </div>
    <script type='text/javascript' src="{{ url_for('static', filename='zdmin.js') }}"> </script>
  </body>
</html>
